{% extends 'layouts/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<section id="resume" class="resume">
    <div class="container">

    <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
    </div>

    <div class="row">
        <div class="col-lg-6">
        <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
            <h4>Jonathan Kent Filbert</h4>
            <p><em>Innovative, deadline-driven Web Developer and Social Media Manager with over 2 years of experience designing and developing user needs, from initial concept to the perfect final result.</em></p>
            <p>
            <ul>
            <li>Sawah Kurung III, Bandung, Indonesia</li>
            <li>+62 89695237367</li>
            <li>jonathankent2412@gmail.com</li>
            </ul>
            </p>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
            <h4>St. Aloysius School</h4>
            <h5>2017 - 2021</h5>
            <p><em>Bandung, Indonesia</em></p>
        </div>
        <div class="resume-item">
            <h4>School of Computer Science</h4>
            <h5>2021 - 2025</h5>
            <p><em>Bina Nusantara University, Jakarta, Indonesia</em></p>
        </div>
        </div>
        <div class="col-lg-6">
        <h3 class="resume-title">Experience</h3>
        <div class="resume-item">
            <h4>Event Organizer</h4>
            <h5>2019 - Present</h5>
            <p><em>Xeno Entertainment, Bandung, Indonesia </em></p>
            <p>
            <ul>
            <li>Lead website creation based on user needs by implementing website development using programming languages.</li>
            <li>Become a social media manager who determines posting times by analyzing which time people open the application the most.</li>
            <li>Become a social media editor who creates content and also ensures that the quality and quantity meet user criteria.</li>
            <li>as a crew during the wedding and also the sweet 17.</li>
            </ul>
            </p>
        </div>
        <div class="resume-item">
            <h4>Barista</h4>
            <h5>2021 - 2022</h5>
            <p><em>Ben and Lou Coffee, Bandung, Indonesia</em></p>
            <p>
            <ul>
            <li>Become a barista and also a cashier.</li>
            <li>Manage stock inventory and also reorder goods.</li>
            </ul>
            </p>
        </div>
        </div>
    </div>

    </div>
</section>
{% endblock %}
