<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link href="{% static 'mainpage/assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'mainpage/header.html' %}

    <main>
        {% block content %}
        <!-- Section content goes here -->
        {% endblock %}
    </main>

    {% include 'mainpage/footer.html' %}
    <script src="{% static 'mainpage/assets/js/main.js' %}"></script>
</body>
</html>
